/* Configuracoes gerais e resets do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    overflow: hidden;
}
body{
    background-color: #7159c1;
    font-family: Roboto, Arial, sans-serif;
}
/* Estilizacao geral da pagina*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 32px;
    letter-spacing: 1px;
    margin: 10px 0;
    color: white;
}

form{
    margin: 20px 0;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
    overflow: hidden;
}

form .input-block{
    margin-bottom: 20px;
}

form .input-block label{
    font-size: 14px;
    color: darkslateblue;
}

form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }

/* Animacoes do frame */

form{
    animation-name: fade;
    animation-duration: 300ms;

}

form .input-block:nth-child(1){
    animation-name: inputs;
    animation-duration: 500ms;
}
form .input-block:nth-child(2){
    animation-name: inputs;
    animation-duration: 700ms;
    animation-delay: 100ms;
}
form .btn-login{
    animation-name: inputs;
    animation-duration: 1s;
    animation-delay: 170ms;
}
form .input-block, form .btn-login{
    animation-fill-mode: backwards;
}
/* Como o formulario de login deve aparecer*/
@keyframes fade{
    from{
        opacity: 0;
        transform: scale(0.1);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* Como os campos devem surginr */
@keyframes inputs{
    from{
        opacity: 0;
        transform: translate(-30%, -50%);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
    }
}

/* Ao clicar no botao submit o formulário vai sumir */
.form-hide{
    animation-name: formHide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards ;
}
@keyframes formHide{
    0%{
        opacity: 0;
        transform: translateY(0);

    }
    90%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
        transform: translateY(100vh);
    }
}

/* treme o formulario*/
.validate-error{
    animation: treme 500ms linear, fade paused;
    animation-iteration-count: 2;
    
   /* animation-duration: 500ms;*/

    
    
}

@keyframes treme{
    0%{
        transform: translateX(0);
  
    }
    40%{
        transform: translateX(-20%);

        
    }
    80%{
        transform: translateX(20%);

    }
    100%{
        transform: translateX(0);

        
    }
}

/* Quadrados */
.quadrados li{
    background-color: rgba(230, 230, 230, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite alternate;
    z-index:-1
}
@keyframes up{
    from{
        opacity: 0;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
    }
    to{
        transform: translateY(-700px) rotate(960deg);
    }
}